---
import BaseHead from '../molecules/BaseHead.astro'
import Header from '../organisms/Header.astro'
import Footer from '../organisms/Footer.astro'
import BlogPostHeader from '../molecules/BlogPostHeader.astro'

const { title, description, pubDate, updatedDate, hasCode } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} hasCode={hasCode} />
  </head>

  <body>
    <Header />

    <main>
      <div class="highlight-container">
        <div class="container">
          <div class="content">
            <BlogPostHeader title={title} pubDate={pubDate} updatedDate={updatedDate} />
          </div>
        </div>
      </div>

      <div class="container">
        <div class="content">
          <slot />
        </div>
      </div>
    </main>

    <Footer />
  </body>
</html>
