---
import { Image } from 'astro:assets'
// experimental feature in astro v2.1
// more info: https://docs.astro.build/en/guides/assets/

import FormattedDate from '../atoms/FormattedDate.astro'
import BaseHead from '../molecules/BaseHead.astro'
import Header from '../organisms/Header.astro'
import Footer from '../organisms/Footer.astro'

const { title, description, pubDate, updatedDate, heroImage, heroImageAlt } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />

    <main>
      <article>
        {heroImage && <Image width={700} height="500" src={heroImage} alt={heroImageAlt ? heroImageAlt : ''} />}

        <h1 class="title">{title}</h1>
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
        <hr />

        <slot />
      </article>
    </main>

    <Footer />
  </body>
</html>
