---
import FormattedDate from '../atoms/FormattedDate.astro'
import BaseHead from '../molecules/BaseHead.astro'
import Header from '../organisms/Header.astro'
import Footer from '../organisms/Footer.astro'

const { title, description, pubDate, updatedDate } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />

    <main>
      <article>

        <h1 class="title">{title}</h1>
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
        <hr />

        <slot />
      </article>
    </main>

    <Footer />
  </body>
</html>
